This notebook shows our simple ensemble model, where we combines the predictions from five individual models, eventually predicting 1 if all indiviual models predict 1. The notebook also contains our attempt on predicting through utilizing logistic regression on the individual predictions.

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report

In [ ]:
# Defining file paths to individual predictions
x1 = '/content/drive/MyDrive/regFiles/m1_b.csv'
x2 = '/content/drive/MyDrive/regFiles/m2_b.csv'
x3 = '/content/drive/MyDrive/regFiles/m3_b.csv'
x4 = '/content/drive/MyDrive/regFiles/m4_b.csv'
x5 = '/content/drive/MyDrive/regFiles/m5_b.csv'

X1 = '/content/drive/MyDrive/regFiles/m1_pred.csv'
X2 = '/content/drive/MyDrive/regFiles/m2_pred.csv'
X3 = '/content/drive/MyDrive/regFiles/m3_pred.csv'
X4 = '/content/drive/MyDrive/regFiles/m4_pred.csv'
X5 = '/content/drive/MyDrive/regFiles/m5_pred.csv'

labels = '/content/drive/MyDrive/regFiles/mask_b.csv'

### Extracting Predictions From Indiviual Models

In [ ]:
# Reading each prediction into a dataframe
df1 = pd.read_csv(x1)
df1 = df1.set_index(['id'])
df1 = df1.rename({'prediction':'p1'},axis=1)

df2 = pd.read_csv(x2)
df2 = df2.set_index(['id'])
df2 = df2.rename({'prediction':'p2'},axis=1)

df3 = pd.read_csv(x3)
df3 = df3.set_index(['id'])
df3 = df3.rename({'prediction':'p3'},axis=1)

df4 = pd.read_csv(x4)
df4 = df4.set_index(['id'])
df4 = df4.rename({'prediction':'p4'},axis=1)

df5 = pd.read_csv(x5)
df5 = df5.set_index(['id'])
df5 = df5.rename({'prediction':'p5'},axis=1)

df_l = pd.read_csv(labels)
df_l = df_l.set_index(['id'])
df_l = df_l.rename({'prediction':'label'},axis=1)

In [ ]:
# Concatenating the individual dataframes into one, eventually visually inspecting the tail of the dataframe
df = pd.concat([df1,df2,df3,df4,df5,df_l], axis=1)
df.tail(40)

             p1  p2  p3  p4  p5  label
id
050_368_160   0   0   1   0   1      0
050_368_176   0   0   1   0   0      0
050_368_192   0   0   0   0   0      0
050_368_208   0   0   0   0   0      0
050_368_224   1   1   1   1   1      0
050_368_240   1   1   1   1   1      0
050_368_256   1   1   1   1   1      0
050_368_272   0   0   0   0   0      0
050_368_288   0   0   0   0   0      0
050_368_304   0   0   0   0   0      0
050_368_320   0   0   0   0   0      0
050_368_336   0   0   0   0   0      0
050_368_352   0   0   0   0   0      0
050_368_368   0   0   0   0   0      0
050_368_384   0   0   0   0   0      0
050_384_0     1   1   1   1   1      0
050_384_16    1   1   1   1   1      0
050_384_32    1   1   1   1   1      0
050_384_48    1   1   1   1   1      0
050_384_64    1   1   1   1   1      0
050_384_80    1   1   1   1   1      0
050_384_96    1   1   1   1   1      0
050_384_112   1   1   1   1   1      0
050_384_128   1   1   1   1   1      0
050_384_144   1   1   1   1   1      0
050_384_160   1   1   1   1   1      0
050_384_176   1   1   1   1   1      0
050_384_192   1   1   1   1   1      0
050_384_208   1   1   1   1   1      0
050_384_224   1   1   1   1   1      0
050_384_240   1   1   1   1   1      0
050_384_256   1   1   1   1   1      0
050_384_272   1   1   1   1   1      0
050_384_288   1   1   1   1   1      0
050_384_304   1   1   1   1   1      0
050_384_320   1   1   1   1   1      0
050_384_336   1   1   1   1   1      0
050_384_352   1   1   1   1   1      0
050_384_368   1   1   1   1   1      0
050_384_384   1   1   1   1   1      0

### Predicting

In [ ]:
# Generating a final prediction, predicts 1 if all individual predictions are 1
df['prediction'] = df.apply(lambda x: int(np.sum(x) > 4), axis=1)

In [ ]:
# Extracting the predictions
df_1 = df['prediction']

In [ ]:
# Writing predictions to csv
df_1.to_csv('test4.csv')

### Ensemble Model with Logistic Regression

In [ ]:
# Generating train and validation sets from indiviual predictions
x_train, x_val, y_train, y_val = train_test_split(df.drop('label', axis=1), df['label'], test_size=0.2, random_state=1)

In [ ]:
# Initializing a logistic regression model, and fitting it to the training sets
logmodel = LinearRegression()
logmodel.fit(x_train,y_train)

# Predicting on the train set
pred = logmodel.predict(x_train)
predictions =[] 

"""for element in pred:
  if element[1]>0.260641802669559:
    predictions.append(1)
  else:
    predictions.append(0)"""

print(pred)
print(logmodel.coef_)

#print(classification_report(y_train, pred))

[0.2481779  0.24584933 0.2622681  ... 0.2622681  0.2622681  0.2481779 ]
[ 0.02480524 -0.0057148   0.00279782 -0.0054695  -0.00232857]

In [ ]:
# Extracting predictions from individual models on the training set into dataframes
df1 = pd.read_csv(X1)
df1 = df1.set_index(['id'])
df1 = df1.rename({'prediction':'p1'},axis=1)

df2 = pd.read_csv(X2)
df2 = df2.set_index(['id'])
df2 = df2.rename({'prediction':'p2'},axis=1)

df3 = pd.read_csv(X3)
df3 = df3.set_index(['id'])
df3 = df3.rename({'prediction':'p3'},axis=1)

df4 = pd.read_csv(X4)
df4 = df4.set_index(['id'])
df4 = df4.rename({'prediction':'p4'},axis=1)

df5 = pd.read_csv(X5)
df5 = df5.set_index(['id'])
df5 = df5.rename({'prediction':'p5'},axis=1)

In [ ]:
# Concatenating the individual predictions into one dataframe
df = pd.concat([df1,df2,df3,df4,df5], axis=1)

In [ ]:
df.head()

          p1  p2  p3  p4  p5
id
001_0_0    0   0   0   0   0
001_0_16   1   1   1   1   1
001_0_32   1   1   1   1   1
001_0_48   1   1   1   1   1
001_0_64   0   0   0   0   0

In [ ]:
df['prediction'] = logmodel.predict(df)

In [ ]:
df.head()

          p1  p2  p3  p4  p5  prediction
id
001_0_0    0   0   0   0   0           0
001_0_16   1   1   1   1   1           1
001_0_32   1   1   1   1   1           1
001_0_48   1   1   1   1   1           1
001_0_64   0   0   0   0   0           0

In [ ]:
df_2 = df['prediction']

In [ ]:
df_2.head()

id
001_0_0     0
001_0_16    1
001_0_32    1
001_0_48    1
001_0_64    0
Name: prediction, dtype: int64

In [ ]:
df_2.to_csv('logreg.csv')